Screen1/node_modules/
Screen1/app.json
Screen1/babel.config.js
Screen1/package-lock.json
Screen1/package.json
Screen1/.gitignore

Screen2/node_modules/
Screen2/app.json
Screen2/babel.config.js
Screen2/package-lock.json
Screen2/package.json
Screen2/.gitignore

Screen3/node_modules/
Screen3/app.json
Screen3/babel.config.js
Screen3/package-lock.json
Screen3/package.json
Screen3/.gitignore

Screen4/node_modules/
Screen4/app.json
Screen4/babel.config.js
Screen4/package-lock.json
Screen4/package.json
Screen4/.gitignore